<nav class="font-montserat px-5 lg:px-10 flex flex-col gap-3 lg:flex-row justify-between items-center mx-auto py-10">
  <a href="/" class="font-bold">Leonid Nazarov</a>

  <div class="flex gap-5">
    <a href="https://twitter.com/nleonid" target="_blank">Twitter</a>
    <a href="">Github</a>
    <a href="">Linkedin</a>
    <a href="">Email</a>
  </div>
</nav>
