---
layout: work
---

<div class="">

  <div class="bg-emerald-900 text-white">
  <%= render Shared::Navbar.new() %>
  <section class="xl:py-40 text-2xl section text-white">
    <div class="content">
      <h1 class="text-6xl font-bold font-montserat">Product Designer</h1> 
    </div>
    <div class="xl:col-span-2 space-y-3 leading-relaxed p-5 md:p-10">
      <p >
      Инди-приложение в котором можно создать свой новостной дайджест и получать все новые посты 1 раз в день на свою почту.
      </p>
      <p>
      Я работал над этим проектом как дизайнер и фронтендер.
      </p>
      <ul class="list-disc list-inside">
        <li>Дизайн и вёрстка лендинга со всеми страницами</li>
        <li>Обновил дизайн самого приложения</li>
        <li>Доработал внешний вид рассылки</li>
      </ul>
      <a href="mailto:work.leonid@gmail.com" class="inline-block mt-10 text-white">Contact</a>
    </div>
  </section>
  </div>

  <!-- briefcake -->
<section class="section">
  <div>
    <div class="content text-slate-700">
      <h2 class="h2">Briefcake</h2>
      <p>
      Обновление дизайна и вёрстка небольшого инди приложения.
      </p>
      <a href="briefcake" class="inline-flex gap-2 items-center bg-purple-500 hover:bg-purple-600 text-white rounded-xl px-7 py-3">
        Details 
      </a>
    </div>
  </div>
  <div class="section-img bg-gradient-to-br from-rose-800 via-fuchsia-800 to-purple-900 ">
    <a href="briefcake">
    <%= render Shared::Image.new(name: "cover", project: "briefcake", cover: true) %>
    </a>
  </div>
</section>

  <!-- dvg -->
<section class="section">
  <div>
    <div class="content text-slate-700">
      <h2 class="h2">Drug Vokrug</h2>
      <p>
      Обновление дизайна и вёрстка небольшого инди приложения.
      </p>
      <a href="briefcake" class="inline-flex gap-2 items-center bg-purple-500 hover:bg-purple-600 text-white rounded-xl px-7 py-3">
        Details 
      </a>
    </div>
  </div>
  <div class="section-img bg-gradient-to-br from-emerald-800 to-yellow-400 ">
    <%= render Shared::Image.new(name: "cover", project: "dvg", cover: true) %>
  </div>
</section>

</div>


